<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <label for="cars">Filtrar por categorias:</label>
      <select name="cars" id="cars" (change)="getOneCategory(select.value)" #select [(ngModel)]="category" class="form-control">
        <option [value]="category" *ngFor="let category of categories">{{category}}</option>
      </select>
    </div>
    <div class="col-md-6">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="buscar algo" #busqueda (keyup.enter)="buscar(busqueda.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon2">Buscar</button>
        </div>
      </div>
    </div>
  </div>

  <form (ngSubmit)="addProduct()" class="mt-5">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" [(ngModel)]="newProduct.title" class="form-control">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" id="description" name="description" [(ngModel)]="newProduct.description" class="form-control">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" [(ngModel)]="newProduct.price" class="form-control">
    </div>
    <div class="form-group">
      <label for="thumbnail">Thumbnail:</label>
      <input type="text" id="thumbnail" name="thumbnail" [(ngModel)]="newProduct.thumbnail" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Add Product</button>
  </form>

  <table class="table table-striped mt-5">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripcion</th>
        <th scope="col">Precio</th>
        <th scope="col">Foto</th>
        <th scope="col">Opciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products;">
        <th scope="row">{{product.id}}</th>
        <td>{{product.title}}</td>
        <td>{{product.description}}</td>
        <td>{{product.price}}</td>
        <td><img src="{{product.thumbnail}}" alt=""></td>
        <td>
          <button class="btn btn-danger m-1" (click)="deleteProduct(product.id)">Eliminar</button>
          <button class="btn btn-warning" (click)="editProduct(product.id)">Editar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
